apiVersion: apps/v1
kind: Deployment
metadata:
  name: controller-manager
  namespace: system
  labels:
    control-plane: controller-manager
    cluster.x-k8s.io/provider: infrastructure-cape-static-ip
spec:
  selector:
    matchLabels:
      control-plane: controller-manager
      cluster.x-k8s.io/provider: infrastructure-cape-static-ip
  replicas: 1
  template:
    metadata:
      labels:
        control-plane: controller-manager
        cluster.x-k8s.io/provider: infrastructure-cape-static-ip
    spec:
      containers:
      - args:
        - --leader-elect
        - --v=4
        image: docker.io/smartxworks/cape-ip-manager:latest
        imagePullPolicy: IfNotPresent
        name: manager
        env:
        - name: POD_NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        - name: POD_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
        - name: POD_UID
          valueFrom:
            fieldRef:
              fieldPath: metadata.uid
        ports:
        - containerPort: 9440
          name: healthz
          protocol: TCP
        readinessProbe:
          httpGet:
            path: /readyz
            port: healthz
        livenessProbe:
          httpGet:
            path: /healthz
            port: healthz
      terminationGracePeriodSeconds: 10
      tolerations:
        - effect: NoSchedule
          key: node-role.kubernetes.io/master
        - effect: NoSchedule
          key: node-role.kubernetes.io/control-plane
